@model Laba8.Models.Teachers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teachers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teachers_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teachers_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teachers_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teachers_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teachers_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teachers_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teachers_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teachers_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kafedra_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kafedra_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Teachers_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
