@model Laba8.Models.Subjects

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subjects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_hour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_hour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_Type_Ex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_Type_Ex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Subject_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
