@model Laba8.Models.Kafedra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kafedra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kafedra_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kafedra_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kafedra_zav)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kafedra_zav)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count_Doctor_Science)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count_Doctor_Science)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instytyts_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instytyts_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Kafedra_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
